@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
    --background-gray: hsl(228, 33%, 97%);
    --Dark-blue: hsl(212, 24%, 26%);
    --Moderate-blue: hsl(238, 40%, 52%);
    --Grayish-blue: hsl(211, 10%, 45%);
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    background-color: var(--background-gray);
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
p,
div,
span {
    margin: 0;
    padding: 0;
}

.username {
    font-weight: 500;
    padding: 0 15px;
    color: rgb(56, 56, 56);
}

.comment-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    color: var(--Grayish-blue);
    font-weight: 300;
}

.comment-section {
    max-width: 800px;
}

.comment-top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.created-at {
    margin-right: auto;
}

.rating-container {
    background-color: var(--background-gray);
    padding: 6px 1px;
    min-width: 35px;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.count {
    margin: 5px 0;
    color: var(--Moderate-blue);
}

.blue-button {
    color: var(--Moderate-blue);
}

.avatar {
    height: 35px;
}

.blue-button > span {
    padding-left: 5px;
}

.replies-divider {
    border-right: 2px solid rgb(230, 230, 230);
    align-self: stretch;
    margin-right: 15px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.replies {
    display: flex;
    align-items: flex-start;
    position: relative;
}

@media screen and (max-width: 600px) {
    .comment-container {
        flex-direction: column-reverse;
        position: relative;
    }

    .rating-container {
        flex-direction: row;
        padding: 1px 6px;
        min-height: 35px;
        margin-top: 15px;
    }

    .count {
        margin: 0 15px;
    }

    .blue-button {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }

    .replies-divider {
        margin-left: 15px;
        margin-right: 8px;
    }
}
